{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <style>
        h2 {
            padding-left: 10px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #e9ecef;
        }
    </style>

    <h2>Users:</h2>

    <table>
        <thead>
        <tr>
            <th>User ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Admin</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td><a href="{{ path('administration_userEdit', {'id': user.id}) }}">{{ user.username }}</a></td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ is_granted('ROLE_ADMIN', user) ? "Yes" : "No" }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No users found.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
